:root {
    --font : sans-serif;
    --background-color : #181818;
    --text-color : #ffffff;
    --font-size : calc(0.852em + 0.5vw);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
    background-color: var(--background-color);
    font-size: var(--font-size);
    text-decoration: none;
    list-style: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 0.5em;
    background-color: #000000;
}

@media (max-width : 700px){
    .hidden{
        display: none;
    }
}

@media (min-width : 700px){
    .menu{
        display: none;
    }
}